<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod sapien eu sem tincidunt, id molestie urna posuere. Nam molestie lobortis urna non malesuada. Cras eleifend felis quis tortor euismod, eu luctus metus rutrum. Nam cursus quam tempus nibh bibendum suscipit. Phasellus mattis bibendum iaculis. Pellentesque eu ex ipsum. Morbi risus leo, pulvinar eget massa quis, egestas placerat lorem. Mauris sodales ut quam eu posuere. Cras tortor magna, tincidunt at sapien ac, porta aliquam nisi. Cras vel elementum felis. Phasellus accumsan placerat risus, vel vestibulum felis eleifend sed. Nam tincidunt commodo arcu eu gravida.

	Quisque dapibus hendrerit tellus nec faucibus. Cras urna augue, ullamcorper non nunc scelerisque, feugiat auctor nibh. Nam convallis luctus sapien nec congue. Vestibulum vel orci vehicula, tincidunt mi ut, dignissim ligula. In hac habitasse platea dictumst. Vestibulum sagittis erat ac pharetra semper. Aenean non accumsan odio. Nunc semper purus ac molestie hendrerit. Etiam semper pulvinar dui eu bibendum. Fusce semper tellus justo, vel mattis nisl elementum ac. Nam commodo neque eget mi tristique pharetra. Nam in massa nulla. Nam vel nulla porttitor, tincidunt ipsum sit amet, placerat sapien. Nullam vitae luctus ipsum.
	</p>	
</article>
